<p id="notice"><%= notice %></p>
<%= render 'nav' %>

<p>
<h1 class="jumbotron"><%= @word.name %></h1>
</p>

<p>
<h3 class="jumbotron"><%= @word.definition %></h3>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
